body {
    background: #000;
    background-size: cover;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 350px;
    margin: 120px auto;
    padding: 25px;
    background: rgba(0,0,0,0.65);
    border-radius: 12px;
    text-align: center;
    border: 1px solid #654ea3;
}

input {
    width: 90%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
}

button {
    margin-top: 15px;
    padding: 12px 25px;
    background: #7f39fb;
    border: none;
    border-radius: 22px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.botao {
    background: #7f39fb;     
    color: white;             
    padding: 12px 30px;      
    border: none;             
    border-radius: 30px;      
    font-size: 16px;          
    cursor: pointer;
    display: inline-block;    
}

.botao:hover {
    background: #9c5dff;      
}